!! ~/.Xresources

!! Cursor
Xcursor.theme: Vanilla-DMZ
Xcursor.size: 24

!! nsxiv
Nsxiv.window.background: #020202

!! st
st.alpha: 0.8

!! Retro Theme Colors
*.foreground: #eaeaea
*.background: #041a1e

!! Normal colors
*.color0:  #041a1e
*.color1:  #d85c5c
*.color2:  #5fd787
*.color3:  #d7af5f
*.color4:  #5a81ff
*.color5:  #af87d7
*.color6:  #0e9491
*.color7:  #eaeaea

!! Bright colors
*.color8:  #42605f
*.color9:  #ff6b6b
*.color10: #5fffd7
*.color11: #ffd787
*.color12: #87aaff
*.color13: #d7afff
*.color14: #01f2d1
*.color15: #f4f4f4
